@import "../variables/variable";
@import "../mixins/mixin";
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul , ol{
    list-style: none;
    padding: 0 ;
    margin: 0;
}

// ============== cursor start ===========
#trail-cursor {
    position: fixed;
    display: block;
    border-radius: 0;
    transform-origin: center center;
    // mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 2;
    .circle {
      pointer-events: none;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background: #FF6F69;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
// ============== cursor ended ===========
body{
    width: 100%;
    background-color: $bodybg !important;
    #shakhawat{
        width: 100%;
        display: flex;
        position: relative;
        nav{
            width: 30%;
            height: 100vh;
            padding: 10px;
            position: fixed;
            top: 0;
            left: 0;
            display: block;
            overflow-y: scroll;
            box-shadow: rgba(33, 35, 38, 0.1) 10px 0px 10px -10px;
        }
        .dot{
            background-repeat: repeat;
            
            &--1{
                position: relative;
                background-image: linear-gradient(to bottom, transparent, transparent 20%, #fff 20%, #fff 90%, transparent 90%),
                    linear-gradient(to right, transparent, transparent 20%, #fff 20%, #fff 90%, transparent 90%),
                    linear-gradient(to right, #eee, #eee 10%, #fff 10%, #fff 50%, #eee 50%);
                background-size: 10px 10px;
            }
            
        }
        .body{
            width: 70%;
            height: 100vh;
            padding: 10px;
            position: fixed;
            top: 0;
            right: 0;
            overflow-y: scroll;
            .tab-content{
                padding: 15px;
                .active{
                    .head{
                        margin-top: 20px;
                        h2{
                            @include headig ($ff: $primary_font , $fs: 60px , $fw: 900 , $clr: #e8e8ed );
                            text-transform: uppercase;
                            letter-spacing: 30px;
                            text-align: center;
                            position: relative;
                            span{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50% , -50%);
                                font-size: 40px;
                                color: $primary_color;
                                letter-spacing: 5px;
                            }
                        }
                    }
                    .elements{
                        padding: 0 0 70px 0;
                        .srttlep{
                            margin: 0;
                            @include paragraph ($ff: $title_font , $fs: 18px , $fw: 400 , $clr: #000 );
                            text-transform: capitalize;
                        }
                        h3{
                            @include headig ($ff: $primary_font , $fs: 30px , $fw: 600 , $clr: $primary_color );
                            text-transform: capitalize;
                        }
                    }
                    .fast_element{
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar{
    width: 0;
}
.modal-backdrop {
    position: unset !important;
}
.modal{
    background-color: rgba(0, 0, 0, .5);
}

  






// @import "bourbon";

/* Demo Styles */

#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}


/* The Loader */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  
  // Modernizr no-js fallback
  .no-js & {
    display: none;
  }
}


#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  animation: spin 1.7s linear infinite;
  z-index: 11;
  
  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin-reverse .6s linear infinite;
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1s linear infinite;
  }
}







.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  .loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border: 3px solid transparent;
    border-top-color: $brand_color;
    border-radius: 50%;
    z-index: 1001;
    animation: spin 1.5s infinite linear;
    &::after{
        content: '';
        position: absolute;
        border-radius: 50%;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: 3px solid transparent;
        border-top-color: $brand_color;
        animation: spin 1s infinite linear;
    }
    &::before{
        content: '';
        position: absolute;
        border-radius: 50%;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 3px solid transparent;
        border-top-color: $brand_color;
        animation: spin 2s infinite linear;
    }
    @keyframes spin {
        0% {
            transform: rotate(0);
        }
        100% {
              transform: rotate(360deg);
        }
    }
  }
  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff9f9;
    z-index: 1000;
  }
  .section-left {
    left: 0;
  }
  .section-right {
    right: 0;
  }
}

.loaded .section-left {
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(-100%);
}
.loaded .section-right {
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(100%);
}
.loaded .loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
  .loader {
    transition: all 0.3s ease-out;
    opacity: 0;
  }
}































.social_box{
  position: relative;
  .social_list {
    margin: 50px 0 0;
    padding: 0;
    display: flex;
    li {
      list-style: none;
      margin: 0 40px;
      a{
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        background-color: #fff;
        text-align: center;
        transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0, 0);
        transition: 0.5s;
        box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
        i{
          font-size: 40px;
          color: #262626;
          line-height: 80px;
          transition: 0.5s;
        }
        &::before{
          content: "";
          position: absolute;
          top: 10px;
          left: -20px;
          height: 100%;
          width: 20px;
          background: #b1b1b1;
          transition: 0.5s;
          transform: rotate(0deg) skewY(-45deg);
        }
        &::after{
          content: "";
          position: absolute;
          top: 80px;
          left: -11px;
          height: 20px;
          width: 100%;
          background: #b1b1b1;
          transition: 0.5s;
          transform: rotate(0deg) skewX(-45deg);
        }
        &:hover{
          transform: perspective(1000px) rotate(-30deg) skew(25deg)
          translate(20px, -20px);
          box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
        }
      }
      &:hover{
        a{
          i{
            color: #fff;
          }
        }
      }
    }
    .facebook:hover a {
      background: #3b5999;
      &::before{
        background: #2e4a86;
      }
      &::after{
        background: #4a69ad;
      }
    }
    .twitter:hover a {
      background: #55acee;
      &::after{
        background: #4d9fde;
      }
      &::before{
        background: #4184b7;
      }
    }
    .google-plus:hover a {
      background: #dd4b39;
      &::after{
        background: #e83322;
      }
      &::before{
        background: #c13929;
      }
    }
    .linkedin:hover a {
      background: #0077b5;
      &::after{
        background: #0d82bf;
      }
      &::before{
        background: #036aa0;
      }
    }
    .instagram:hover a {
      background: linear-gradient(#400080, transparent),
        linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
        &::after{
          background: linear-gradient(#400080, transparent),
          linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
        }
        &::before{
          background: linear-gradient(#400080, transparent),
          linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
        }
    }
  }
}







