@import '../mixins/mixin';
@import '../variables/variable';
#shakhawat{
    .body{
        .tab-content{
            .services{
                background-color: brown;
            }
            .active{
                .contct_elements{
                    display: flex;
                    flex-direction: column;
                    .main_txt{
                        p{
                            @include paragraph ($ff: $secondery_font , $fs: 16px , $fw: 400 , $clr: $secondery_color );
                            width: 70%;
                        }
                    }
                }
                
                .elements{
                    .contact_box{
                        display: flex;
                        background-color: #DFDFE3;
                        padding: 20px;
                        margin: 20px 0 0;
                        border-radius: 10px;
                        border-top: 3px solid #621D3C;
                        transition: .4s;
                        &:hover{
                            border-top: 3px solid $brand_color;
                            .txt{
                                &::after{
                                    background-color: $brand_color;
                                }
                            }
                        }
                        .txt{
                            width: 30%;
                            position: relative;
                            &::after{
                                content: '';
                                width: 2.5px ;
                                height: 90%;
                                background-color: #621D3C;
                                position: absolute;
                                top: 50%;
                                left: 110%;
                                transform: translateY(-50%);
                                transition: .4s;
                            }
                            .address{
                                h4{
                                    @include headig ($ff: $primary_font , $fs: 20px , $fw: 500 , $clr: $primary_color );
                                    text-transform: uppercase;
                                }
                                p{
                                    @include paragraph ($ff: $secondery_font , $fs: 16px , $fw: 400 , $clr: $secondery_color );
                                }
                                .contact_bxx{
                                    margin: 60px 0 0;
                                    padding: 10px;
                                    width: 21%;
                                    background-color: #ffffff;
                                    transition: 1s;
                                    overflow: hidden;
                                    border-radius: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                    a{
                                        text-decoration: none;
                                        display: flex;
                                        gap: 15px;
                                        width: 300px;
                                        @include paragraph ($ff: $secondery_font , $fs: 16px , $fw: 400 , $clr: $secondery_color );
                                        .icon{
                                            width: 30px;
                                            height: 30px;
                                            line-height: 30px;
                                            text-align: center;
                                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                            border-radius: 5px;
                                        }
                                        .mail{
                                            color: $brand_color;
                                        }
                                        .call{
                                            color: #F6D063;
                                        }
                                        .locat{
                                            color: #008000;
                                        }
                                    }
                                    &:hover{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .message{
                            width: 70%;
                            padding: 0 0 0 50px;
                            form{
                                .form_head{
                                    @include paragraph ($ff: $primary_font , $fs: 20px , $fw: 500 , $clr: $primary_color );
                                    text-transform: uppercase;
                                    padding: 0 0 20px 0;
                                }
                                .group_liner{
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-around;
                                    .group{
                                        width: 47%;
                                        position: relative;
                                        margin: 25px 0;
                                        input{
                                            background: none;
                                            color: $secondery_color;
                                            font-size: 14px;
                                            padding: 5px;
                                            display: block;
                                            width: 100%;
                                            border: none;
                                            border-radius: 0;
                                            border-bottom: 2px solid $secondery_color;
                                            &:focus {
                                              outline: none;
                                            }
                                            &:focus ~ label,
                                            &:valid ~ label {
                                              top: -14px;
                                            }
                                            &:focus ~ .bar:before {
                                              width: 100%;
                                            }
                                        }
                                        label {
                                            color: $secondery_color;
                                            font-size: 16px;
                                            font-weight: normal;
                                            position: absolute;
                                            pointer-events: none;
                                            left: 5px;
                                            top: 10px;
                                            transition: 300ms ease all;
                                        }
                                        .bar {
                                            position: relative;
                                            display: block;
                                            width: 100%;
                                            &:before {
                                              content: '';
                                              height: 2px;
                                              width: 0;
                                              bottom: 0px;
                                              position: absolute;
                                              background: $brand_color;
                                              transition: 300ms ease all;
                                              left: 0%;
                                            }
                                        }
                                    }
                                    .mail_group{
                                        width: 100%;
                                    }
                                }
                                textarea{
                                    width: 100%;
                                    height: 150px;
                                    margin: 20px 0;
                                    padding: 10px;
                                    background-color: transparent;
                                }
                                .button{
                                    display: block;
                                    text-align: end;
                                    button{
                                        text-transform: capitalize;
                                        @include  boxhover2($hovbeforewidth2: 250px 0 0 250px , $hovafterwidth2: 0 250px 250px 0 , $clr: $primary_color , $hovtextcolor: white);
                                        @include paragraph ($ff: $title_font , $fs: 20px , $fw: 400 , $clr: $secondery_color );
                                        letter-spacing: 5px;
                                        width: 200px;
                                        padding: 5px 20px;
                                        transition: .4s;
                                    }
                                }
                            }
                        }
    
                    }
                }
            }
        }
    }
}